@tailwind base;
@tailwind components;
@tailwind utilities;


*{
color: white;
}

body {
background: #111;
}

#tasklist {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  #tasklist::-webkit-scrollbar {
    display: none;             /* Chrome, Safari */
  }
  
#alltask::-webkit-scrollbar{
  display: none;             /* Chrome, Safari */
}